go 1.25.8

use (
	./gen/go
	./libs/go/authlib
	./libs/go/egresslib
	./libs/go/eventslib
	./libs/go/observability
	./libs/go/rpclib
	./libs/proto/gen/go
	./services/elitea-main
	./services/elitea-scheduler
	./services/elitea-subapp-host
	./tools/uictl
)
