go 1.26.9

use (
	./conformance/nativeclient
	./gen/go
	./libs/go/authlib
	./libs/go/egresslib
	./libs/go/eventslib
	./libs/go/natsconn
	./libs/go/observability
	./libs/go/rpclib
	./libs/proto/gen/go
	./services/elitea-main
	./services/elitea-scheduler
	./services/elitea-subapp-host
	./tools/uictl
)
